.main-div{
height: 100%;
}
.sec-div{
    border: 1px solid gray;
    border-radius: 2%;
    margin: auto;
    width: 35%;
    height: 37vw;
    text-align: center;
    margin-top: 5vw;
}
.img-logo{
    width: 65px;
    height: 30px;
    margin-top: 4vw;
}
.head-top1{
    font-size:20px;
    font-weight: 400;   
}
.input-box{
    width: 80%;
}
.forgot-btn{
    border: none;
    background: transparent;
    margin-right: 20vw;
    font-size: 15px;  
    margin-top: -30px;
}
.head-ctn{
    color: grey;
    font-size: 14px;

}
.btn-next{
    margin-left: 20vw;
    margin-top: -66px;
}
.select-btn{
    margin-left: 440px;
    margin-top: 18px;
    border: none;
    height: 20px;
}
.dow-btn{
    margin-left: 700px;
    margin-top: -25px;
}

  
