<div class="main-div">
    <div class="sec-div">
        <img src="../../assets/GoogleLogo.png" alt="not found" class="img-logo">
        <h1 class="head-top1">Find your email</h1>
        <h3 >Enter your phone number or recovery email</h3>
        <mat-form-field appearance="outline" class="input-box">
            <mat-label>Email or phone</mat-label>
            <input matInput placeholder="Email or phone">
        </mat-form-field>
        <br/>
        <br/>
        <br/>
        <button mat-raised-button color="primary"  class="btn-next">Next</button>
      
    </div>
    <select class="select-btn">
        <option value="English (United Kingdom)" selected>English (United Kingdom)</option>
        <option>English (United States)</option>
        <option>Afrikaans</option>
        <option>తెలుగు</option>
        <option>தமிழ்</option>
        <option>हिन्दी</option>
    </select>
    <div class="btn-dow">
        <button mat-flat-button>Help</button><button mat-flat-button>Privacy</button><button mat-flat-button>Terms</button>
    </div>
</div>