.main-div{
    height: 100%;
    }
    .sec-div{
        border: 1px solid gray;
        border-radius: 2%;
        margin: auto;
        width: 35%;
        height: 37vw;
        text-align: center;
        margin-top: 5vw;
    }
    .img-logo{
        width: 65px;
        height: 30px;
        margin-top: 4vw;
    }
    .head-top1{
        font-size:20px;
        font-weight: 400;   
    }
    .input-box{
        width: 80%;
    }
    .btn-next{
        margin-left: 20vw;
        margin-top: -66px;
    }
    .select-btn{
        margin-left: 440px;
        margin-top: 18px;
        border: none;
        height: 20px;
    }
    .btn-dow{
        margin-left: 700px;
        margin-top: -25px;
    }
    
      
    